/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */
*{
  margin: 0;
  padding: 0;
}
a:visited,
a:hover{
  outline: none;
  text-decoration: none;
}
body{
	background-color: #393939;
	font-family: 'Poppins', sans-serif;
}

.navbar-light button.navbar-toggler{
	border-color: #fff;
}
button.navbar-toggler i{
	color: #fff;
}
.backwhite{
	background-color: #fff;
	display: table;
	width: 100%;
}
/**/
.navbar-light .navbar-nav .active > .nav-link, 
.navbar-light .navbar-nav .nav-link.active, 
.navbar-light .navbar-nav .nav-link.show, 
.navbar-light .navbar-nav .show > .nav-link{
	color: rgba(29,212,118,1);
}
header{
	height: 415px;
	margin-bottom: 58px;
	background-image: url(../rsc/banner-fb.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

header .navbar-brand .md{
	width: 100px;
}
header .navbar-brand .sm{
	
}

header .navbar-light .navbar-nav .nav-link{
	color: #fff;
	font-weight: 600;
	font-size: 22px;
}
/*
header.stickit .navbar-light .navbar-nav .nav-link{
	color: #000;
}*/
header.stickit .navbar-light .navbar-nav .active > .nav-link, 
header.stickit .navbar-light .navbar-nav .nav-link.active, 
header.stickit .navbar-light .navbar-nav .nav-link.show, 
header.stickit .navbar-light .navbar-nav .show > .nav-link{
	color: #000;
}
header .navbar-light .navbar-nav .nav-link:hover{
	color: rgba(29,212,118,1);
}
header.stickit .navbar-light .navbar-nav .nav-link:hover{
	color: #000;
}
header.stickit{
	padding-top: 75px;
}
header.stickit .navbar-light .navbar-nav .nav-link{
}
header.stickit .mainmenu#navhold{
	width: 100%;
	background-color: rgba(29,212,118,0.9);
	display: block;
	position: fixed;
	top:0;
  -webkit-transition: background-color 1s ease-out;
  -moz-transition: background-color 1s ease-out;
  -o-transition: background-color 1s ease-out;
  transition: background-color 1s ease-out;
  z-index: 1000;
}
header .mainmenu#navhold{
  -webkit-transition: background-color 0.4s ease-out;
  -moz-transition: background-color 0.4s ease-out;
  -o-transition: background-color 0.4s ease-out;
  transition: background-color 0.4s ease-out;
  z-index: 1000;
}
header .showating{
	width: 75%;
	padding-top: 2%;
}
header .showating,
header .phone{
	display: inline-block;
}
header .phone{
	width: 25%;
	float: right;
	position: relative;
	display: block;
}
.phone img#overlay{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	right: 0;
}
header .phone{
	width:200px;
	height:350px;
}
header .phone .phoneit div img{
	border-radius: 30px;
	width:190px;
	height:340px;
	margin: 5px;
}
header .welcomearea{
	width: 90%;
	margin: 0 auto;
}
.phonethat img{
	display: block;
	width: 150px;
	height: 300px;
	margin: 0 auto;
}
.phonethat img{
	border-radius: 25px;

}
/*
.phonethatis{
	width: 100%;
	height: 300px;
	display: block;
	position: relative;
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	background-image: url(../rsc/appback.png);
}
.phonethatis .phonethat div{
	position: relative;
}
.phonethatis .phonethat div img#overlay{
	width: 150px;
	height: 300px;
	position: absolute;
	top:0;
	left: 0;
}*/
section{
	background-color: #fff;
}
img.sm{
	display: none;
}
.quickcall{
	text-align: center;
	border-bottom: 1px solid #fff;
	height: 60px;
	padding-top: 5px;
}
.showating{
	color: #fff;
}
.showating h1{
	font-weight: 700;
}
.showating p{
	font-weight: 600;
	color: rgba(29,212,118,1);
}









main h2{
	
}
main h2 span{
	
}








main section#contact{

}
main section#contact article{
	display: table;
	width: 100%;
	border: 1px solid #ccc;
}
main section#contact article h2{

}
main section#contact article input,
main section#contact article textarea{
	display: block;
	width: 100%;

}
main section#contact article button{
	display: block;
	margin: 10px auto;
}


footer{
	color: #999;
	background-color: #393939;
	padding: 30px 0;
}
footer p{
	margin: 0;
	padding: 0;
}
footer .copyright p a{
	color: #fff;
	margin: 0 10px;
}
footer .copyright #cpr{
	background-color: #393939;
}
footer .copyright #cpr b{
	color: rgba(29,212,118,1);
}
.social{
}
.social a{
	height: 50px;
	width: 50px;
	display: inline-block;
	background-color: rgba(29,212,118,0.5);
	text-align: center;
	padding-top: 12px;
	margin-left: 10px;
	border-radius: 50%;
	-ms-border-radius: 50%;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	-o-border-radius: 50%;
}
.social a:hover{
	background-color: rgba(29,212,118,1);
}
.social a i{
	color: #fff;
	font-size: 24px;
}
.videos{
	padding-top:0;
}
.videos iframe{
	
}
.videos h2{
	margin-top: 60px;
}
.contact h2,
.qa h2,
.appasgift h2,
.screenshots h2,
.features h2,
.videos h2{
	text-transform: uppercase;
	letter-spacing: -3px;
	font-size: 48px;
	font-weight: 900;
	color: rgba(29,212,118,1);
}
.videos p{
	
}

.appasgift,
.features{
	color: #fff;
	text-align: center;
	background-color: rgba(29,212,118,1);
}
.appasgift h2,
.features h2{
	color: #fff;
}
.features a{
	font-size: 60px;
	text-decoration: none;
	display: block;
	color: #000;
}
.features a:hover{
	color: #fff;
}
.features a i,
.features a p{
	padding: 0;
	margin: 0;
}


.screenshots{
	text-align: center;
}
.screenshots h2{
}
.screenshots p{
}
.screenshots .phonethatis{
	background-color: #eee;
	padding: 25px 0;
	display: block;
	width: 100%;
}
.screenshots .phonethatis .slick-dots{
	margin: 0;
	padding: 0;
	list-style: none;
}
.screenshots .phonethatis .slick-dots li{
	display: inline-block;
}
.screenshots .phonethatis .slick-dots li button{
	margin: 0 1px;
	border: none;
	text-align: center;
	font-size: 12px;
	color:#6E6E6E;
	margin-top: 25px;
	background-color: #6E6E6E;
	display: inline-block;
	width: 15px;
	height: 15px;
	cursor: pointer;

	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-o-border-radius: 50%;
	-ms-border-radius: 50%;
}
.screenshots .phonethatis .slick-dots li.slick-active button{
	color:rgba(29,212,118,1);
	background-color: rgba(29,212,118,1);
}
.screenshots .phonethatis .phonethat img{
	border-radius: 15px;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	-o-border-radius: 15px;
	-ms-border-radius: 15px;
	border: 8px solid rgba(29,212,118,1);
}





.appasgift{
	text-align: left;
}
.appasgift h2{
	
}
.appasgift p{
	
}
.appasgift form{
	
}
.appasgift button{
	width: 100%;
	display: block;
	margin-top:30%;
}
.appasgift button i{
	font-size: 36px;
	float: left;
	margin-top: 5px;
}
.appasgift button b{
	display: block;
	width: 100%;
}



.qa{
	background-color: #eee;
}
.qa h2{
	text-align: center;
}
.qa p{
	text-align: center;
}
.qa .accordion{
	color: #aaa;
}
.qa .accordion button{
	display: block;
	width: 100%;
	overflow: hidden;
	padding: 15px 8px;
	text-align: center;
	text-transform: capitalize;
	text-decoration: none;
	font-weight: 100;
	letter-spacing: 1px;
	font-size: 14px;

	border-width: 1px 1px 0 1px;
	border-style: solid;
	border-color: #ddd;

	border-radius: 0;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	-o-border-radius: 0;
	-ms-border-radius: 0;
	white-space: normal;
	color: rgba(29,212,118,1);
}
.qa .accordion button:last-child{
	border-bottom: 1px solid #ddd;
}
.qa .accordion button i{
	float: right;
	font-weight: 700;
	font-size: 24px;
}
.collapsing,
.qa .accordion .collapse{
	color: #aaa;
	letter-spacing: 1px;
	background-color: #ddd;
	padding: 15px 20px;
}










.contact{

}
.contact h2{
	text-align: center;
}
.contact p{
	text-align: center;
}
.contact form{
	background-color: #EEEEEE;
	text-align: center;
	padding: 10%;
}
.contact form input[type=text],
.contact form textarea{
	width: 100%;
	display: block;
}
.contact form input[type=text],
.contact form textarea{
	border-radius: 8px;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	-o-border-radius: 8px;
	-ms-border-radius: 8px;
	border: none;
	color: rgba(29,212,118,1);
	margin-bottom: 5px;
	padding: 5px 8px;
}
.contact form button{
	margin-top: 15px;
}






section{
	padding: 5% 0 7% 0;
}
section p.subt{
	font-size: 18px;
	font-weight: 900;
	text-transform: uppercase;
	margin-bottom: 35px;
}
section p{
	font-size: 16px;
}



#jumpup{
	position: fixed;
	right: 10px;
	bottom: 10px;
	text-align: center;
	color: #fff;
	background-color: rgba(29,212,118,0.5);
	border: none;
	padding: 10px 15px;
	cursor: pointer;
}
#jumpup:hover{
	background-color: rgba(29,212,118,1);
}









/* RESPONSIVE CSS
-------------------------------------------------- */

/*MEDIUM*/
@media (min-width: 992px) and (max-width: 1199px) {

}

/*TABLET*/
@media (min-width: 768px) and (max-width: 991px) {

}

/*MOBILE*/
@media (max-width: 767px) {
	.showating{
		text-align: center;
	}
	.showating h1{
		font-size: 18px;
	}
	header{
		height: auto;
	}
	header .showating{
		width: 100%;
	}
	header .phone{
		float: none;
		margin: 5px auto;
	}
}

/* TABLET and BELOW */
@media (max-width: 991px) {
	img.sm{
		width: 90px;
		display: inline-block;
	}
	img.md{
		display: none;
	}
	.appasgift button{
		margin-top: 3%;
	}
}
